.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .3s ease all;
}

.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: .3s ease all;
}

.dropdown-menu {
    min-width: 260px !important;
    min-height: auto !important;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid $white;
    background-color: #f1f6ff;
    box-shadow: 0 6px 12px transparent !important;
    margin: auto;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10.5px 8px 10.5px;
        border-color: transparent transparent #f1f6ff transparent;
        left: 50%;
        top: 50%;
        transform: translate(-105px, -89px);
    }
}

// @media (max-width: 1103px) {
//     .dropdown-menu {
//         margin: 0 !important;
//     }
// }
.nav-link {
    color: $black-300;
}

.dropdown-item {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    padding: 0 0 20px 0;
    margin: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: transparent;
        color: $blue-400;
        transition: all 0.2s ease-in-out;
    }

    &:last-child {
        padding: 0;
    }
}
.nav-item{
    margin-right: 30px;
}
.dropdown:hover .dropdown-menu {
    display: block; // remove the gap so it doesn't close
}

a#navbarDropdown {
    padding: 50px 0;
}
