.crowdfundly-features-main-header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #5777f3;
    width: 84px;
    height: 148px;
    opacity: 0.1;
    right: 0;
    bottom: 27%;
    border-radius: 150px 0 0 150px;

    @media (max-width: 1350px) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $lightblue;
    width: 94px;
    height: 94px;
    opacity: 0.1;
    left: 1%;
    bottom: 13%;
    border-radius: 50%;

    @media (max-width: 1350px) {
      bottom: 5%;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__left-iamge-shape-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;

    @media (max-width: 1500px) {
      display: none;
    }
  }

  &__right-iamge-shape-img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;

    @media (max-width: 1500px) {
      display: none;
    }
  }

  .crowdfundly-features {
    padding-top: 120px;

    @include media-breakpoint-down(md) {
      padding-top: 80px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 60px;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    &__wrapper {
    }

    &__details {
      text-align: center;
      padding-bottom: 60px;

      @include media-breakpoint-only(md) {
        padding-top: 550px;
      }

      @include media-breakpoint-down(xs) {
        padding-top: 29px;
      }

      &-heading {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.0025em;
        color: $gray-400;
        margin: 0;

        @include media-breakpoint-down(xs) {
          font-size: 22px;
        }
      }

      &-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.005em;
        color: $black-300;
        margin: 0;
        padding-top: 20px;

        @include media-breakpoint-down(xs) {
          font-size: 14px;
        }
      }
    }

    &__features-desc {
      &-element1 {
        width: 100%;
        position: relative;
        margin: 14px 0;

        &__content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 30px;

          &-heading {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.0015em;
            color: $gray-400;
            margin: 0;

            @include media-breakpoint-down(xs) {
              font-size: 22px;
            }
          }

          &-desc {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.005em;
            color: $gray-400;
            margin: 0;
            padding-top: 25px;
          }
        }

        &__features-icon {
          width: 60px;
          height: 60px;
          background: $darkPurple;
          border-radius: 10px;
          margin-bottom: 30px;
          box-shadow: $boxShadow-100;

          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding-top: 14px;
          }
        }

        &__features-icon1 {
          background-color: $darkgreen;
          box-shadow: $boxShadow-1001;
        }

        &__features-icon2 {
          background-color: $blue-600;
          box-shadow: $boxShadow-1002;
        }

        &__features-icon3 {
          background-color: $purple;
          box-shadow: $boxShadow-1003;
        }

        &__features-icon4 {
          background-color: $skyblue;
          box-shadow: $boxShadow-1004;
        }

        &__features-icon5 {
          background-color: $yellow-600;
          box-shadow: $boxShadow-1005;
        }
      }

      &-element2 {
        rifat: hidden;
        border-radius: 10px;
        border: 2px solid $borderRgba;
      }

      &-element3 {
        width: 100%;
        height: 281px;
        background: $bgRgba;
        position: relative;
        filter: blur(70px);

        &-ellipse1 {
          position: absolute;
          width: 70px;
          height: 70px;
          background-color: $darkPurple;
          border-radius: 50%;
          left: 18%;
          top: 0;
        }

        &-ellipse2 {
          position: absolute;
          width: 70px;
          height: 70px;
          background-color: $darklightblue;
          border-radius: 50%;
          right: 34%;
          bottom: 0;
        }

        &-ellipse22 {
          background-color: $darkgreen !important;
        }

        &-ellipse33 {
          background-color: $darkPurple !important;
        }

        &-ellipse44 {
          background-color: $blue-600;
        }

        &-ellipse44 {
          background-color: $lightblue;
        }

        &-ellipse66 {
          background-color: $purple;
        }

        &-ellipse66 {
          background-color: $darkPurple;
        }

        &-ellipse88 {
          background-color: $skyblue;
        }

        &-ellipse99 {
          background-color: $lightblue;
        }

        &-ellipse111 {
          background-color: $yellow-600;
        }

        &-ellipse222 {
          background-color: $darkPurple;
        }
      }

      &__btn-body {
        &__btn {
          background-color: $blue-400;
          width: 193px;
          height: 60px;
          border-radius: 6px;
          border: none;
          font-family: "Poppins", sans-serif !important;
          color: $white;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          letter-spacing: 0.015em;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: -4px 4px 20px $btnShadow;
            background-color: $btnHover !important;
            transition: all 0.3s ease-in-out;
            transform: translateY(-3px);
          }

          @include media-breakpoint-down(xs) {
            width: 125px;
            height: 48px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.fea-content1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fea-content2 {
  position: relative;
  filter: blur(300px);

  &::before {
    content: "";
    position: absolute;
    background-color: $blue-400;
    width: 437px;
    height: 437px;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
