.crowdfundly-collapsible {
  padding: 120px 0 130px 0;
  position: relative;

  @include media-breakpoint-down(md) {
    padding: 100px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 80px 0;
  }

  @include media-breakpoint-down(xs) {
    padding: 60px 0;
  }

  &__img-left {
    position: absolute;
    bottom: 21%;
    right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__img-right {
    position: absolute;
    top: 13%;
    left: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__inner {
    &-header {
      text-align: center;
      padding-bottom: 60px;

      &-heading {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.0025em;
        color: $gray-400;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(xs) {
          font-size: 22px;
        }
      }

      &-desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.005em;
        color: $black-300;
        margin: 0;
        padding-top: 20px;
        width: 512px;
        margin: auto;

        @include media-breakpoint-down(sm) {
          width: auto;
        }
      }
    }

    &__content1 {
      position: relative;

      &__text-content {
      }

      &__ellipse {
        content: "";
        position: absolute;
        background-color: $lightblue;
        width: 228px;
        height: 114px;
        border-radius: 0 0 150px 150px;
        left: 6%;
        bottom: -3%;
        z-index: -1;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &__content2 {
        rifat: hidden;
        border-radius: 10px;
        background-color: #f1f6ff;
        border: 2px solid $borderRgba;

        // width: 828px;
        height: min-content;
        margin: auto;
        padding: 30px;

        @include media-breakpoint-down(xs) {
          padding: 10px;
        }

        &__content3 {
          width: 100%;

          // height: 580px;
          margin: auto;
          position: relative;
          filter: blur(60px);

          &::after {
            content: "";
            position: absolute;
            background-color: $lightblue;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            left: -38px;
            top: 557px;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }
      }
    }
    &__coll-btn {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__coll-link {
        color: $white;

        &--btn {
          width: 235px;
          height: 60px;
          border-radius: 6px;
          background-color: $blue-400;
          color: $white;
          border: none;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          letter-spacing: 0.015em;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: -4px 4px 20px $btnShadow;
            background-color: $btnHover !important;
            transition: all 0.3s ease-in-out;
            transform: translateY(-3px);
          }
          @include media-breakpoint-down(xs) {
            width: 125px;
            height: 48px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.card {
  border: none;
  background-color: #ffffff;
}

.card-header {
  border: none;
  width: auto;
}

.btn-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: auto;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: $gray-400 !important;
  font-family: "Poppins", sans-serif !important;

  @include media-breakpoint-down(xs) {
    font-size: 13px;
  }
}

.accordion .card {
  border-radius: 6px;
  border-left-width: 0;
  border-right-width: 0;
  margin: 20px 0;
  padding: 0 30px 0px 30px;
}

.accordion .card:last-child {
  margin-bottom: 0;
}

.accordion .card:first-child {
  margin-top: 0;
}

.arrow-down {
  margin-top: 10px;
  font-size: 16px !important;
  transition: 0.4s !important;
}

.accordion .card .card-header {
  background: none;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 0;
  padding: 15px 0;
}

.card-body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.005em;
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
}

.accordion .card-header h2 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.accordion .card-header .btn {
  color: #007bff;
  width: auto !important;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.accordion .card-header i {
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 3rem;

  @include media-breakpoint-down(sm) {
    right: 1rem;
  }
}

.btn {
  white-space: normal !important;
}

.accordion .card-header .btn:hover {
  color: #0069d9;
}

.accordion .card-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.005em;
  color: #3f454f;
  margin: 0;
  font-family: "Work Sans", sans-serif !important;
}

.accordion .highlight i {
  transform: rotate(180deg);
  transition: 0.4s !important;
}

.collcontent1 {
  position: absolute;
  bottom: 0;
  left: -17%;
}

.collcontent2 {
  position: relative;
  filter: blur(300px);

  &::before {
    content: "";
    position: absolute;
    background-color: $lightblue;
    width: 437px;
    height: 437px;
    left: -30%;
    bottom: 0;
    border-radius: 50%;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
