// Transition mixin

@mixin global-transition {
  transition: 0.125s ease-in-out, background-color 0.2s ease-out,
    color 0.1s ease-out, border 0.1s ease-out;
}

.changelog-header {
  text-align: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.0025em;
    color: #131a36;
  }
  p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #66667d;
    margin-bottom: 100px;
    font-weight: 400;
    width: 400px;
    margin: auto;
    @include media-breakpoint-down(md) {
      width: auto;
    }
  }
}

.timeline {
  position: relative;
  padding: 50px;
  rifat: hidden;

  @include media-breakpoint-down(md) {
    position: relative;
    left: -31%;
    rifat: visible;
  }

  @include media-breakpoint-down(xs) {
    position: relative;
    left: -41%;
    rifat: visible;
  }

  ul {
    padding: 0;
    font-family: "Work Sans", sans-serif;
    li {
      font-family: "Work Sans", sans-serif;

      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.005em;
      color: $black-300;
      display: grid;
      grid-template-columns: auto 1fr;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }
  .crowdfundly-title {
    font-family: "Poppins", sans-serif;
    color: $blue-400;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.0015em;
  }
  .timeline-wrapper {
    background: #f1f6ff;
    position: absolute;
    top: -2%;
    width: 60%;
    height: 102%;
    right: 21%;
    border-radius: 1rem;
    border: 0.3rem solid #fff;
    rifat: hidden;
    @media (max-width: 1600px) {
      display: none;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      width: 16rem;
      height: 15rem;
      background: #0d6efd;
      position: absolute;
      top: 3%;
      left: -8%;
      filter: blur(93px);
      z-index: 1;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 16rem;
      height: 15rem;
      background: #00e8d7;
      position: absolute;
      top: 8%;
      right: -8%;
      filter: blur(93px);
      z-index: 1;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &::after {
    content: "";
    display: block;
    width: 12rem;
    height: 12rem;
    background: $darkPurple;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    z-index: -1;
    left: 16%;
    @media (max-width: 1600px) {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 12rem;
    height: 12rem;
    background: $lightblue;
    border-radius: 50%;
    position: absolute;
    top: 6%;
    z-index: -1;
    right: 18%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .shape1 {
    display: block;
    width: 16rem;
    height: 15rem;
    background: #ff4059;
    position: absolute;
    top: 14%;
    left: -7%;
    filter: blur(93px);
    z-index: 1;
  }

  .shape3 {
    display: block;
    width: 16rem;
    height: 15rem;
    background: #00e8d7;
    position: absolute;
    top: 24%;
    left: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape3-visible {
    display: block;
    width: 12rem;
    height: 12rem;
    background: #00e8d7;
    border-radius: 50%;
    position: absolute;
    top: 22.5%;
    z-index: -1;
    left: 17%;
  }

  @include media-breakpoint-down(md) {
    .ellipse {
      display: none !important;
    }
  }

  .shape4 {
    display: block;
    width: 16rem;
    height: 15rem;
    background: #ff4059;
    position: absolute;
    top: 27%;
    right: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape4-visible {
    display: block;
    width: 12rem;
    height: 12rem;
    background: #ff4059;
    border-radius: 50%;
    position: absolute;
    top: 25.5%;
    z-index: -1;
    right: 18%;
  }

  .shape5 {
    display: block;
    width: 16rem;
    height: 15rem;
    background: $darkPurple;
    position: absolute;
    top: 31%;
    left: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape5-visible {
    display: block;
    width: 12rem;
    height: 12rem;
    background: $darkPurple;
    border-radius: 50%;
    position: absolute;
    top: 29.5%;
    z-index: -1;
    left: 17%;
  }

  .shape6 {
    display: block;
    width: 19rem;
    height: 19rem;
    background: #00e8d7;
    position: absolute;
    top: 33%;
    right: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape6-visible {
    display: block;
    width: 19rem;
    height: 19rem;
    background: #00e8d7;
    border-radius: 50%;
    position: absolute;
    top: 31.5%;
    z-index: -1;
    right: 18%;
  }

  .shape7 {
    display: block;
    width: 15rem;
    height: 15rem;
    background: #ff4059;
    position: absolute;
    top: 37%;
    left: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape7-visible {
    display: block;
    width: 15rem;
    height: 15rem;
    background: #ff4059;
    border-radius: 50%;
    position: absolute;
    top: 35.5%;
    z-index: -1;
    left: 17%;
  }

  .shape8 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: $darkPurple;
    position: absolute;
    top: 42%;
    right: -2%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape8-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: $darkPurple;
    border-radius: 50%;
    position: absolute;
    top: 41%;
    z-index: -1;
    right: 18%;
  }

  .shape9 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    position: absolute;
    top: 56%;
    left: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape9-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    z-index: -1;
    left: 17%;
  }

  .shape10 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: $darkPurple;
    position: absolute;
    top: 62%;
    right: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape10-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: $darkPurple;
    border-radius: 50%;
    position: absolute;
    top: 61.5%;
    z-index: -1;
    right: 18%;
  }

  .shape11 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #ff4059;
    position: absolute;
    top: 69%;
    left: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape11-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #ff4059;
    border-radius: 50%;
    position: absolute;
    top: 68.5%;
    z-index: -1;
    left: 16%;
  }
  .shape12 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    position: absolute;
    top: 77%;
    right: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape12-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    border-radius: 50%;
    position: absolute;
    top: 76.5%;
    z-index: -1;
    right: 18%;
  }

  .shape13 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #ff4059;
    position: absolute;
    top: 82%;
    left: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape13-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #ff4059;
    border-radius: 50%;
    position: absolute;
    top: 81.5%;
    z-index: -1;
    left: 16%;
  }

  .shape14 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #5777f3;
    position: absolute;
    top: 90%;
    right: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape14-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #5777f3;
    border-radius: 50%;
    position: absolute;
    top: 89.5%;
    z-index: -1;
    right: 18%;
  }

  .shape15 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    position: absolute;
    top: 94%;
    left: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape15-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #00e8d7;
    border-radius: 50%;
    position: absolute;
    top: 94%;
    z-index: -1;
    left: 16%;
  }

  .shape16 {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #5777f3;
    position: absolute;
    top: 98%;
    right: -5%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape16-visible {
    display: block;
    width: 14rem;
    height: 14rem;
    background: #5777f3;
    border-radius: 50%;
    position: absolute;
    top: 97.5%;
    z-index: -1;
    right: 18%;
  }

  .shape2 {
    display: block;
    width: 16rem;
    height: 15rem;
    background: $darkPurple;
    position: absolute;
    top: 20%;
    right: -7%;
    filter: blur(93px);
    z-index: 1;
  }
  .shape2-visible {
    display: block;
    width: 12rem;
    height: 12rem;
    background: $darkPurple;
    border-radius: 50%;
    position: absolute;
    top: 18.5%;
    z-index: -1;
    right: 18%;
  }

  .shape1-visible {
    display: block;
    width: 12rem;
    height: 12rem;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 12.5%;
    z-index: -1;
    left: 16%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  @media (max-width: 1600px) {
    .ellipse {
      display: none;
    }
  }

  .default-line {
    content: "";
    position: absolute;
    left: 50%;
    width: 4px;
    background: #d7e0fc;
    height: 17000px;

    @include media-breakpoint-down(md) {
      height: 15500px;
    }

    @include media-breakpoint-down(sm) {
      height: 15500px;
    }
    @include media-breakpoint-down(xs) {
      height: 18031px;
    }
  }

  .draw-line {
    width: 4px;
    height: 0;
    position: absolute;
    left: 50%;
    background: $darkPurple;
  }

  & > ul > li {
    list-style-type: none;
    position: relative;
    width: 2px;
    margin: 0 auto;
    height: auto;
    background: transparent;
    & > div {
      display: none;
      li::before {
        content: "\2022";
        color: $darkPurple;
        font-weight: bold;
        display: inline-block;
        width: 1em;

        font-size: 30px;
      }
      &.left {
        margin-left: -47rem;
        position: relative;

        @include media-breakpoint-only(md) {
          margin-left: -42rem;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-top: 33px solid transparent;
          border-left: 64px solid white;
          right: 0;
          border-bottom: 37px solid transparent;
          position: absolute;
          right: -8%;
          top: 8%;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        @include media-breakpoint-down(md) {
          margin-left: 8rem;
          &::before {
            content: "";
            width: 0;
            height: 0;
            border-top: 18px solid transparent;
            border-right: 40px solid white;
            border-bottom: 17px solid transparent;
            right: 6px;
            position: absolute;
            left: -10%;
            top: 13%;

            @include media-breakpoint-down(sm) {
              content: "";
              width: 0;
              height: 0;
              border-top: 17px solid transparent;
              border-right: 40px solid white;
              border-bottom: 13px solid transparent;
              right: 22px;
              position: absolute;
              left: -19%;
              top: 12%;
            }
            @include media-breakpoint-down(sm) {
              content: "";
              width: 0;
              height: 0;
              border-top: 18px solid transparent;
              border-right: 40px solid white;
              border-bottom: 17px solid transparent;
              right: 6px;
              position: absolute;
              left: -11%;
              top: 13%;
            }
          }
          & > div {
            position: absolute;
            right: -16rem;
            top: 1rem;
            width: 30rem;
            font-weight: bold;
          }
        }

        @include media-breakpoint-down(xs) {
          margin-left: 5rem;
        }

        & > div {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.0015em;
          position: absolute;
          left: 53rem;
          top: 1rem;
          width: 30rem;
          font-weight: bold;

          @include media-breakpoint-down(md) {
            left: 2rem;
          }
        }
      }
      &.right {
        margin-left: 8rem;
        @include media-breakpoint-down(xs) {
          margin-left: 5rem;
        }
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-top: 33px solid transparent;
          border-right: 64px solid white;
          border-bottom: 37px solid transparent;
          right: 0;
          position: absolute;
          left: 48px;

          top: 13%;
          @include media-breakpoint-down(md) {
            z-index: -1;
          }

          @include media-breakpoint-only(sm) {
            content: "";
            width: 0;
            height: 0;
            border-top: 29px solid transparent;
            border-right: 64px solid white;
            border-bottom: 22px solid transparent;
            right: 0;
            position: absolute;
            left: 38px;
            top: 9%;
            z-index: -1;
          }
          @include media-breakpoint-only(xs) {
            content: "";
            width: 0;
            height: 0;
            border-top: 29px solid transparent;
            border-right: 64px solid white;
            border-bottom: 22px solid transparent;
            right: 0;
            position: absolute;
            left: 18px;
            top: 9%;
            z-index: -1;
          }
        }
        & > div {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.0015em;
          position: absolute;
          right: -16rem;
          top: 1rem;
          width: 30rem;
          font-weight: bold;
          @include media-breakpoint-down(md) {
            right: -406px;
          }
        }
      }
      &.left,
      &.right {
        display: block;
        @include media-breakpoint-down(md) {
          margin-bottom: 10px;
          width: 344px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
        @include media-breakpoint-down(xs) {
          margin-bottom: 10px;
          width: 280px;
        }
      }
      background: #fff;
      width: 40rem;
      padding: 3em 2em;
      border-radius: 1em;
    }
    &.in-view {
      @include global-transition;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-image: url("../../images/icon/restore.png");
        background-color: $darkPurple;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        @include global-transition;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-image: url("../../images/icon/restore.png");
      background-color: #d7e0fc;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      @include global-transition;
    }
  }
}
